.current-location {
  width: 100%;
  margin: 0 auto;
  margin-top: 57px;
  font-size: 18px;
  padding: 0px;
  height: 57px;
  background: #fafafa;
}

.sublink-span {
  font-weight: 500;
  color: black;
  margin-left: 11px;
}

.right-p-link {
  margin-left: auto;
  color: gray;
  font-weight: 100;
}

.current-location-flexdiv {
  width: 75%;
  height: 100%;
  align-items: center;
  margin: 0 auto;
  display: flex;
}

.slash {
  margin-left: 7px;
}
