.product-overview {
  display: flex;
  gap: 5%;
}

.product-overview-images {
  background-color: gray;
  width: 45%;
}

.product-overview-title {
  margin: 0;
}

.product-overview-info {
  color: #9b9b9b;
  letter-spacing: 0.56px;
  width: 50%;
}

.product-overview-bid-info {
  margin: 27px 0;
}

.product-overview-info p {
  margin: 11px 0px;
}

.purple-span {
  color: #8367D8;;
  letter-spacing: 0.56px;
}

.product-overview-starts-from {
  font-size: 24px;
}
