.product-overview {
  display: flex;
  gap: 5%;
}

.product-overview-images {
  background-color: gray;
  width: 45%;
}

.product-overview-title {
  margin: 0;
}

.product-overview-info {
  color: #9b9b9b;
  letter-spacing: 0.56px;
  width: 50%;
}

.product-overview-bid-info {
  margin: 27px 0;
}

.purple-span {
  color: #8367d8;
  letter-spacing: 0.56px;
}

.product-overview-starts-from {
  font-size: 24px;
  margin: 11px 0px;
}

.product-info-details {
  margin: 0;
}

.bid-message {
  width: 100%;
  height: 57px;
  margin: 0px auto;
  font-size: 18px;
  letter-spacing: 0.63px;
  padding: 0px;
}

.success {
  font-weight: bold;
  background-color: #F0F3EE;
  color: #417505;
}

.error {
  background-color: #F6F2E5;
  color: #AB944E;
}

.container-top {
  margin-top: 97px;
}

.enter-bid-container {
  margin-top: 41px;
  margin-bottom: 81px;
}

.pay-button-div {
  margin: 21px 0;
}
