.login-form {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.login-form button {
  padding: 10px;
  width: 60%;
}

.form-container {
  border: 1px solid #D8D8D8;
  height: auto;
  padding-bottom: 50px;
}

.form-title {
  font-weight: bold;
  font-size: 24px;
  color: #252525;
  letter-spacing: 0.84px;
  text-align: center;
  padding: 25px 25px;
  background-color: #FAFAFA;
  margin: 0;
  margin-bottom: 45px;
}

.custom-formik-field {
  height: 45px;
  width: 60%;
  border: 1px solid #D8D8D8;
  background-color: #FFFFFF;
  padding: 10px 10px;
  font-size: 18px;
  color: #9B9B9B;
  box-sizing: border-box;
  letter-spacing: 0.63px;
}

.submit-login-form-button {
  margin-bottom: 25px;
  margin-top: 21px;
  background-color: #8367D8;
  border: 3px solid #8367d8;
  font-weight: bold;
  color: white;
}

.submit-form-button:hover {
  cursor: pointer;
}

.formik-field-label {
  width: 60%;
  padding: 10px;
  color: black;
  margin-left: 0px;
  margin-top: 45px;
}

.checkbox-field-label {
  font-size: 18px;
  color: #252525;
  letter-spacing: 0.63px;
}

.check-field-input {
  background: #ECECEC;
  border: 1px solid #D8D8D8;
}

.checkbox-container {
  width: 60%;
  display: flex;
  text-align: left;
  margin: 45px 0;
}

.login-error-message {
  color: red;
  text-align: center;
}

.formik-error-message {
  width: 60%;
  color: red;
  font-size: 11px;
}
