.custom-input-field {
  height: 25px;
  width: 70%;
  border: 0;
  background-color: #3B3B3B;
  padding: 10px;
  color: aliceblue;
}

.gray {
  background: #ECECEC;
  border: 1px solid #D8D8D8;
  color: black;
  margin-right: 17px;
  font-size: 18px;
  letter-spacing: 0.63px;
}
