.profile-bids-table {
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #d8d8d8;
  display: table;
  border-collapse: separate;
  flex: 0 0 250px;
  flex-direction: column;
  border-spacing: 0;
  padding-bottom: 21px;
}

.profile-bids-table p {
  font-size: 18px;
  letter-spacing: 0.63px;
  margin: 0;
}

.gray-heading {
  height: 60px;
  margin: 0;
  padding: 11px 2.5%;
  box-sizing: border-box;
  text-align: left;
  font-size: 18px;
  color: #252525;
  letter-spacing: 0.63px;
  background-color: #fafafa;
  display: flex;
  align-items: center;

}

.bids-table-row {
  padding: 0 2.5%;
  box-sizing: border-box;
  margin-bottom: 15px;
  height: 100px;
  align-items: center;
  display: flex;
}

.bold {
  font-weight: bold;
}

.bids-table-item {
  width: 15%;
}

.bids-table-name {
  font-size: 18px;
  color: #252525;
  letter-spacing: 0.63px;
  width: 25%;
}

.bids-table-left {
  width: 15%;
}

.bids-table-price {
  width: 13%;
}

.bids-table-bids {
  width: 10%;
}

.bids-table-highest {
  width: 13%;
}

.bids-table-empty {
  width: 4%;
}

.bids-table-img {
  width: 100px;
  height: 100px;
}

.purple-id {
  margin: 0;
  font-size: 18px;
  color: #8367d8;
  letter-spacing: 0.63px;
}

.green-bold {
  font-weight: bold;
  color: #6cc047;
}

.blue-bold {
  font-weight: bold;
  color: #5b9ed6;
}

.empty-table-bids {
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
  text-align: center;
  font-size: 13px;
}

.empty-table-bids p {
  margin-bottom: 41px;
}

.purple-icon {
  color: #8367d8;
  font-size: 100px;
  margin-bottom: 31px;
}
