.random-product-card {
  display: flex;
  width: 100%;
}

.random-product-content {
  height: auto;
  margin: auto;
  width: 40%;
}

.random-product-img {
  width: 60%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-left: auto;
}

.random-product-img img {
  object-fit: fill;
  height: 480px;
  width: 480px;
}

.purple-text {
  font-size: 24px;
  color: #8367d8;
  letter-spacing: 0.84px;
}

.random-product-name {
  font-size: 46px;
  color: #252525;
  letter-spacing: 1.61px;
}
