.button {
  border: 3px solid #8367d8;
  display: table-cell;
  vertical-align: middle;
  padding: 10px 17px;
  font-size: 18px;
  letter-spacing: 0.63px;
}

.primary {
  background-color: inherit;
  color: #d8d8d8;
}

.default {
  background-color: inherit;
  font-weight: bold;
  color: black;
}

.primary i {
  font-size: 18px;
}

.purple {
  background-color: #8367D8;
  color: white;
}

.button:hover {
  cursor: pointer;
}

.custom-p-button:hover {
  cursor: pointer;
  opacity: 0.6;
}
