.container-55 {
  width: 55%;
  margin: 41px auto;
  margin-bottom: 91px;
  font-family: "Lato";
  font-size: 18px;
  color: #9B9B9B;
  letter-spacing: 0.63px;
  line-height: 25px;
}

.container-55 h1, h2, h3 {
  color: black;
}