body {
  margin: 0;
  font-family: "Lato";
}

#root {
  min-height: 100vh;
  position: relative;
}

code {
  font-family: "Lato";
}

.successfull-pay-text {
  text-align: center;
  color: #8367D8;
}

.product-link {
  width: 100%;
}

button:hover {
  cursor: pointer;
}